{{> header}}

<div style = "border: 1px solid white; margin-top: 5%; margin-left: 9%; margin-right: 9%; margin-bottom: 5%;">

   {{#if this.sign}}
      {{#if (eq sign 'Aquarius')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/aquarius.jpg" class="rounded-circle" alt="Aquarius profile picture" />
      {{/if}}
      {{#if (eq sign 'Aries')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/aries.jpg" class="rounded-circle" alt="Aries profile picture" />
      {{/if}}
      {{#if (eq sign 'Cancer')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/cancer.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Capricorn')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;"src="../../resources/img/capricorn.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Gemini')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/gemini.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Leo')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/leo.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Libra')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/libra.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Pisces')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/pisces.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Sagittarius')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/sagittarius.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Scorpio')}}
         <img align = "left" style = "width: 10%; margin-top: 3%; margin-left: 3%;" src="../../resources/img/scorpio.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Taurus')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/taurus.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
      {{#if (eq sign 'Virgo')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/virgo.jpg" class="rounded-circle" alt="profile picture" />
      {{/if}}
   {{else}}
      <p>No image available</p>
   {{/if}}
   <h3 style = "font-size: 138%; margin-left: 18%; margin-top: 3%; color: white; display: block;"> Name: {{first_name}} {{last_name}}</h3>
   <h3 style = "font-size: 138%; margin-left: 18%; margin-top: 2%; color: white; display: block;"> Sign: {{sign}}</h3>
   <h3 style = "font-size: 138%; margin-left: 18%; margin-top: 2%; color: white; display: block;"> Birthday: {{birthday}}</h3>

   <div>
      <div style = "border: 1px solid white; margin-top: 5%; margin-left: 9%; margin-right: 9%; margin-bottom: 5%;">
      <h3 style = "text-align: center; margin-top: 40px;"> About you...</h3>
      <p id="horoscopeDisplay" style= "text-align: center; padding: 20px 90px;">Fetching your horoscope</p>
      </div>
   </div>
</div>

<div class = "transparent-background-black"> 
   <img align = "left" width = '30%' style = "width: 30%; margin-top: 5%; margin-left: 7%; margin-bottom: 5%;" src="../../resources/img/black_constelations.png" class = "rounded-circle" alt="chart picture" />
      <div style = "display:flex; justify-content: center; flex-wrap: wrap; border: 1px solid black; margin-top: 8%; margin-left: 50%; margin-right: 10%; margin-bottom: 8%; text-align: center;">
         <h3 style= "font-size: 138%; margin-top: 30px; color: black;">Your daily horoscope: </h3>
         <div style= "margin: 20px 100px;">
               <p1 style="font-size: 80%;" id = "affirmationDisplay">We have not words for you today</p1>
      </div>
   </div>
</div>

<div class = "transparent-background-grey"> 
      <h3 style= "margin-top: 100px; margin-left: 40px; margin-bottom: 80px; text-align: center; color: black; ">Some music for you today... </h3>
      <div class = "image-container">
                  <img src= "../../resources/img/right_moon.jpg" alt= "image 1" class = "rounded-circle">
                  <img src= "../../resources/img/moon.jpg" alt= "image 2" class = "rounded-circle">
                  <img src= "../../resources/img/left_moon.jpg" alt= "image 3" class = "rounded-circle">
      </div>
      <div id="song-recommendations" class = "text-container" style= "margin-top: 5%; margin-bottom: 10%; margin-left: 5%; margin-right: 5%;">
         <p1 style="font-size: 95%;" id="song-1">Song Title</p1>
         <p1 style="font-size: 95%;" id="song-2">Song Title</p1>
         <p1 style="font-size: 95%;" id="song-3">Song Title</p1>

      </div>
</div>

<div style="border: 1px solid white; margin-top: 5%; margin-left: 20%; margin-right: 20%; margin-bottom: 5%;">
   <h3 style="margin-top: 3%; text-align: center; color: white;">
    Say hello to your friends across the galaxy...
   </h3>
  <div style="display: flex; justify-content: flex-end; ; margin-bottom: 40px; margin-top:40px;"> 
   <div style="display: flex; justify-content: center; width: 200%; margin-top: 10px;">
      <a id="galaxy-img" href="/friends" ><img src="../../resources/img/galaxy.png" style="width: 300px;"></a> 
   </div>
  </div>
</div>

<script>

   async function loadHoroscopes() {
            try {
                const response = await fetch('/horoscopes');
                const horoscopes = await response.json();
                
                // Display horoscopes on the page
                const displayDiv = document.getElementById('horoscopeDisplay');
                displayDiv.innerHTML = `{{this.sign}}: {{this.description}}`;
            } catch (error) {
                console.error("Error loading horoscopes:", error);
            }
        }

   loadHoroscopes();




   async function loadDailyAffirmation(sign) {

      const affirmationDisplay = document.getElementById('affirmationDisplay');
      try {
         const response = await fetch('/dailyAffirmation', {
            method: 'POST', 
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({sign})
         });

         if (response.ok) {
            const data = await response.json();
            affirmationDisplay.innerHTML = `<p>${data.dailyAffirmation}</p>`;
         } else {
            affirmationDisplay.innerHTML = `<p>Error: Unable to retrieve affirmation.</p>`;
         }
      } catch (error) {
         console.error("Error loading horoscopes:", error);
         affirmationDisplay.innerHTML = `<p>Error: Could not fetch affirmation at this time.</p>`;
      }
   }


   async function fetchSongRecommendation(zodiacSign, songNumber, songDivId) {
      const songDiv = document.getElementById(songDivId);
      songDiv.innerHTML = "<p>Loading song recommendation...</p>";

      try {
         const response = await fetch('/song-recommendation', {
         method: 'POST',
         headers: { 'Content-Type': 'application/json' },
         body: JSON.stringify({ zodiacSign, songNumber })
      });

      if (response.ok) {
         const data = await response.json();
         songDiv.innerHTML = `<p>${data.songRecommendation}</p>`;
      } else {
         songDiv.innerHTML = `<p>Error: Unable to retrieve recommendation.</p>`;
      }
      } catch (error) {
         console.error("Error fetching song recommendation:", error);
         songDiv.innerHTML = `<p>Error: Could not fetch recommendation at this time.</p>`;
      }
   }
      
   window.onload = async function () {
      const zodiacSign = `{{this.sign}}`;

      try {
         const response = await fetch('/song-recommendation', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ zodiacSign })
        });

        if (response.ok) {
            const data = await response.json();
            document.getElementById('song-1').textContent = data.song1 || 'No song available';
            document.getElementById('song-2').textContent = data.song2 || 'No song available';
            document.getElementById('song-3').textContent = data.song3 || 'No song available';
         } else {
            console.error("Failed to load song recommendations");
         }
      } catch (error) {
         console.error("Error fetching song recommendations:", error);
      }
      //dailyAffirmation call
      try {
            const response = await fetch('dailyAffirmation', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ zodiacSign })
         });

         if (response.ok) {
            const data = await response.json();
            document.getElementById('affirmationDisplay').textContent = data.dailyAffirmation || 'No daily affirmation';
         } else {
            console.error("Failed to load daily affirmation");
         }
      } catch (error) {
         console.error("Error fetching daily affirmation:", error);
      }
};

</script>

<img src="../../resources/img/moon_phases.jpg " style = "justify-content: center;">

{{> footer}}
