{{> header}}

<!--<div class = "transparent-background-grey"> -->
   <div style = "border: 1px solid white; margin-top: 100px; margin-left: 180px; margin-right: 180px; margin-bottom: 100px;">
   <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/aquarius.jpg" class="rounded-circle" alt="profile picture" /> <!-- image for testing purposes -->
   <!--will work once sign attribute is properly assigned to the -->
   {{#if this.sign}}
      {{#if (eq this.sign 'aquarius')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="/resources/img/aquarius.jpg" class="rounded circle" alt="Aquarius profile picture" />
      {{/if}}
      {{#if (eq this.sign 'aries')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="/resources/img/aries.jpg" class="rounded circle" alt="Aries profile picture" />
      {{/if}}
      {{#if (eq this.sign 'cancer')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/cancer.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'capricorn')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;"src="../../resources/img/capricorn.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'gemini')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/gemini.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'leo')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/leo.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'libra')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/libra.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'pisces')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/pisces.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'sagittatius')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/sagittarius.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'scorpio')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/scorpio.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'taurus')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/taurus.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
      {{#if (eq this.sign 'virgo')}}
         <img align = "left" width = '150' style = " margin-top: 50px; margin-left: 50px; margin-bottom: 10px;" src="../../resources/img/virgo.jpg" class="rounded circle" alt="profile picture" />
      {{/if}}
   {{else}}
      <p>No image available</p>
   {{/if}}
   <h3 style = "margin-left: 250px; margin-top: 35px; color: white; display: block;"> Name: {{first_name}} {{last_name}}</h3>
   <h3 style = "margin-left: 250px; margin-top: 20px; color: white; display: block;"> Sign: {{sign}}</h3>
   <h3 style = "margin-left: 250px; margin-top: 20px; color: white; display: block;"> Birthday: {{birthday}}</h3>
{{!-- </div> --}}

<div>
   <div style = "border: 1px solid white; margin-top: 40px; margin-left: 180px; margin-right: 180px; margin-bottom: 50px;">
   <h3 style = "text-align: center;"> About you...</h3>
   <p style= " text-align: center ;margin: 20px 90px;"> Aquarius is the eleventh sign of the zodiac, symbolized by the Water Bearer, which represents the flow of knowledge and life. Governed by the planet Uranus, Aquarians are often seen as innovative, independent, and forward-thinking. They are natural visionaries, driven by a deep desire to improve the world and push the boundaries of conventional thought.
      Key Traits: Innovative & Original: Aquarians thrive on creating and exploring new ideas, often being ahead of their time. Independent: They value their freedom and prefer to carve their own path, unbound by societal expectations.
   Humanitarian: With a strong sense of social justice, they are passionate about making the world a better place. Intellectual & Curious: Aquarians love to engage in deep conversations and explore abstract concepts. Unconventional: They often challenge norms and are not afraid to stand out from the crowd. Strengths: Visionary thinking Open-mindedness Strong problem-solving skills Empathy for global issues Weaknesses: Can be aloof or detached Stubbornness in their beliefs May struggle with emotional intimacy</p>
   </div>
</div>

</div>





<div class = "transparent-background-black"> 
   <img align = "left" width = '400' style = " margin-top: 30px; margin-left: 100px; margin-bottom: 30px;" src="../../resources/img/black_constelations.png" class = "rounded-circle" alt="chart picture" />
   <div style = "border: 1px solid black; margin-top: 100px; margin-left: 600px; margin-right: 180px;">
      <h3 style= "margin-top: 50px; margin-left: 40px;text-align: center; color: black;">Your daily horoscope: </h3>
      <div style= "margin: 20px 100px;">
         <p1>You’re feeling an extra spark of creativity and innovation today, Aquarius. Ideas that may have seemed out of reach before now feel within your grasp. Your unique perspective will shine, and others may seek your insight. Embrace your individuality and don’t shy away from standing out.</p1>
      </div>
   </div>
</div>


<div class = "transparent-background-grey"> 
      <h3 style= "margin-top: 100px; margin-left: 40px; margin-bottom: 80px; text-align: center; color: black; ">Some music for you today... </h3>
      <div class = "image-container">
                  <img src= "../../resources/img/right_moon.jpg" alt= "image 1" class = "rounded-circle">
                  <img src= "../../resources/img/moon.jpg" alt= "image 2" class = "rounded-circle">
                  <img src= "../../resources/img/left_moon.jpg" alt= "image 3" class = "rounded-circle">
      </div>
      <div class = "text-container" style= "margin-bottom: 100px;">
         <p1>Song Title</p1>
         <p1>Song Title</p1>
         <p1>Song Title</p1>

      </div>
</div>

<div style="border: 1px solid white; margin-top: 100px; margin-left: 180px; margin-right: 180px; margin-bottom: 200px; margin-top: 200px;">
   <h3 style="margin-top: 40px; margin-right: 40px; text-align: center; color: white;">
    Say hello to your friends across the galaxy
   </h3>
  <div style="display: flex; justify-content: flex-end; margin-right: 40px; margin-bottom: 80px; margin-top:80px;"> 
   <div style="display: flex; justify-content: center; width: 100%; margin-top: 20px;">
      <img src="../../resources/img/galaxy.png" style="width: 300px;">
    </div>
    <div style="border: 1px solid white; width: 50%; padding: 50px;"> 
      <h3 style="text-align: left; margin-left: 20px; margin-top: 20px;">Friend 1</h3>
      <h3 style="text-align: left; margin-left: 20px; margin-top: 50px;">Friend 2</h3>
      <h3 style="text-align: left; margin-left: 20px; margin-top: 50px; margin-bottom: 20px;">Friend 3</h3>
    </div>
  </div>
</div>
   </div>
</div>

<img src="../../resources/img/moon_phases.jpg " style = "justify-content: center;">

{{> footer}}